.container {
    display: grid;
    grid-template-rows: min-content repeat(6, min-content);
   // max-width: 100%;
    grid-template-columns: [full-start] minmax(1.8rem,1fr) [col-start] repeat(2, [inner-col-start] minmax(min-content, 30vw) [inner-col-end] ) [col-end] minmax(1.8rem,1fr)[full-end];

    
}