.container {
    display: grid;
    grid-template-rows: min-content repeat(5, min-content) 20vh;
 //   justify-content: space-around;
    grid-template-columns: [full-start] minmax(1rem, auto) [col-start] repeat(2, [inner-col-start] minmax(min-content, 30vw) [inner-col-end]) [col-end] minmax(1rem, auto) [full-end];

   //  @media screen and (max-width: 80em) {
   //      font-size: 95%;
   //   }
}